nav {
  height: 50px;
  background-color: #f7f7f7;
}

.score {
  height: 80px;
  background-color: #f7f7f7;
  overflow: scroll; 
  flex-wrap: nowrap;
}

.frame-a {
  background-color: #e9ecef;
  height: 80px;
  border: solid 1px black;
}

.frame-b {
  background-color: #FFF;
  height: 80px;
  border-bottom: solid 1px black;
  border-top: solid 1px black;
}

.ball1 {
  height: 30px;
  border-bottom: solid 1px black;
}

.ball2 {
  height: 30px;
  border-bottom: solid 1px black;
  border-left: solid 1px black;
}