
/* ------------ Base Styles ------------ */


nav {
  height: 50px;
  color: #FFF;
  background-color: #0B1F32;
}

.up {
  color: #F22A38;
}

.down {
  color: #9E896A;
}

.score {
  height: 80px;
  background-color: #f7f7f7;
  overflow: scroll; 
  flex-wrap: nowrap;
}

.frame-a {
  background-color: #E6E8EA;
  height: 80px;
  border: solid 1px black;
}

.frame-b {
  background-color: #FFF;
  height: 80px;
  border-bottom: solid 1px black;
  border-top: solid 1px black;
}

.ball1 {
  height: 30px;
  border-bottom: solid 1px black;
}

.ball2 {
  height: 30px;
  border-bottom: solid 1px black;
  border-left: solid 1px black;
}

.total-score {
  position: fixed;
  width: 100%;
  bottom: 130;
}

.prev-frame {
  bottom: 0;
  border: solid 6px #7F6A4B;
  border-right: solid 3px #7F6A4B;
  background: #9E896A;
  height: 130px;
  padding-top: 2.5rem;
  position: fixed;
  text-align: center;
}

.next-frame {
  bottom: 0;
  border: solid 6px #7F6A4B;
  border-left: solid 3px #7F6A4B;
  background: #9E896A;
  height: 130px;
  padding-top: 2.5rem;
  position: fixed;
  text-align: center;
}