
/* ------------ Nav ------------ */

nav {
  height: 50px;
  color: #FFF;
  background-color: var(--navy);
}

nav a {
  color: var(--blue);
  font-size: 1.2rem;
  line-height: 1.3rem;
}

nav .submit {
  color: var(--blue);
  font-size: 1.2rem;
  line-height: 1.3rem;
}

/* ------------ Pins ------------ */

.up {
  color: var(--red-1);
}

.up:hover {
  color: var(--red-2);
}

.down {
  color: var(--gold-1);
}

.down:hover {
  color: var(--gold-2);
}

/* ------------ Scoreboard ------------ */

.score {
  overflow: scroll; 
}

.frame-a {
  background-color: var(--white);
  height: 50px;
  text-align: center;
}

.frame-b {
  background-color: var(--gray-1);
  height: 50px;
  text-align: center;
}

.ball1 {
  height: 30px;
  width: 100%;
}

.ball2 {
  background-color: var(--gray-2);
  height: 30px; 
  width: 100%;
}

.total-score {
  position: fixed;
  width: 100%;
  bottom: 130;
  padding: 0 1rem 0 1rem;
}

.frame-change {
  bottom: 0;
  background: var(--gold-2);
  height: 130px;
  padding-top: 2.7rem;
  position: fixed;
  text-align: center;
}

.frame-change:hover {
  background: var(--gold-1);
}

.bgContainer{
  width:50%;
  height:500px;
  background-color: #000000;
  position: relative;
  overflow: hidden;
}
.arrowUp{
  width:50vw;
  height:50vw;
  position: absolute;
  top: 30vw;
  transform: rotate(45deg);
  background: purple;
}