.blue {
  color: var(--blue);
}

/* ------------ Nav ------------ */

nav {
  height: 50px;
  color: var(--blue);
  background-color: var(--navy);
}

nav a {
  color: var(--blue);
  font-size: 1.2rem;
  line-height: 1.3rem;
}

nav .submit {
  color: var(--blue);
  font-size: 1.2rem;
  line-height: 1.3rem;
}

/* ------------ Pins ------------ */

.pin {
  height: 70px;
}

.up {
}

.down {
  opacity: 0.2;
}

.pinset {
  position: absolute;
}

/* ------------ Scoreboard ------------ */

.scoreBoard {
  overflow: scroll; 
}

.frame {
  border-right: 1px solid var(--gray-2);
  background-color: var(--gray-1);
  height: 50px;
  text-align: center;
}

.ball {
  -ms-flex: 0 0 10.5%;
      flex: 0 0 10.5%;
  max-width: 10.5%;
  border-bottom: 1px solid var(--gray-2);
  border-right: 1px solid var(--gray-2);
  background-color: var(--gray-1);
  height: 30px;
  text-align: center;
}

@media (min-width: 768px) {
  .ball {
  -ms-flex: 0 0 4.7619%;
      flex: 0 0 4.7619%;
  max-width: 4.7619%;
  }
}

.ball1 {
}

.ball2 {
}

.input-active {
  background-color: var(--red-1);
  border: none;
  color: var(--white);
}

.frame-active {
  background-color: var(--white);
}

.total-score {
  position: fixed;
  width: 100%;
  bottom: 70;
  padding: 0 1.5rem 0 1.5rem;
}

.frame-change {
  bottom: 0;
  background: var(--gold-2);
  height: 70px;
  padding-top: 1.2rem;
  position: fixed;
  text-align: center;
  color: #fff;
}

.startBtn {
  bottom: 0;
  background: var(--red-1);
  height: 120px;
  padding-top: 2.5rem;
  position: fixed;
  text-align: center;
  color: #fff;
}

.bgStart {
  top: 0;
  background: var(--navy);
  height: 100%;
  position: fixed;
  text-align: center;
}

.bgContainer{
  width:50%;
  height:500px;
  background-color: var(--black);
  position: relative;
  overflow: hidden;
}

.logo{
    color: var(--white);
    font-size: 4rem;
    padding-top: 1.25rem;
    height: 7.5rem;
    background-color: var(--navy);
    width: 60%;
    margin-left: 20%;
    margin-top: 30%;
    border-radius: 30px;
    border: 5px solid var(--white);
  }

.dot1{
  color: var(--white);
}

.dot2{
  color: var(--blue);
}

.dot2{
  font-weight: 700;
}

@media (min-width: 768px) {
  .logo{
    font-size: 6rem;
    height: 10rem;
    margin-top: 20%;
  }
  .dot1{
    line-height: 2.5;
  }
  .dot2{
    line-height: 2.5;
  }
}